__pycache__/
*.pyc
.vscode/
*.log
build/
install/
log/
tmp/
dev_logs/flights/**
!dev_logs/flights/**/
!dev_logs/flights/**/*pass*.mcap
*.png
.fuse_hidden*

# Telemetry analysis cache and scratchfiles
dev_logs/scratch/
dev_logs/analysis/database/*.pkl
dev_logs/analysis/*_dump.txt
graphics/


