[submodule "mavlink-router"]
	path = mavlink-router
	url = https://github.com/mavlink-router/mavlink-router.git
[submodule "src/mocap"]
	path = src/mocap
	url = https://github.com/Dorten8/mocap.git
[submodule "src/mocap_px4_bridge"]
	path = src/mocap_px4_bridge
	url = https://github.com/SaxionMechatronics/mocap_px4_bridge.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/SaxionMechatronics/px4_msgs.git
